.header-container {
  background-color: #263238; /* Color de fondo gris */
}

.title-large {
  font-size: 2.5em; 
  text-align: center;
}

.social-icon {
  margin-right: 10px;
}

.social-icon:hover .anticon {
  transform: scale(1.30) ;
}

.social-icon:last-child {
  margin-right: 0;
}
